*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

html, body{
  background: #2980b9;
}

.version{
  font-size: 18px;
  color: #fff;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

header{
  height: 120px;
  background: #2f3640;
}

.inner-width{
  max-width: 100%;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 20px 10px;
}

.logo img{
  height: 80px;
}

.navigation-menu{
  float: right;
  margin-right: 10px;
  display: flex;
  align-items: center;
  min-height: 120px;
}

.navigation-menu a{
  margin-left: 20px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #2ecc71;
}

.download{
  color: #0abde3;
}

.about{
  color: #feca57;
}

.menu-toggle-btn{
  float: right;
  height: 120px;
  line-height: 120px !important;
  margin-right: 15px;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}

@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 320px;
    background: #34495e;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #34495e;
    position: absolute;
    top: -10px;
    right: 15px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
